@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(246, 241, 235);
}

.fa-square {
  color: rgb(230, 15, 15);
  font-size: 1rem;
}

#brand {
  font-weight: 900;
  font-size: 2rem;
}
#designation {
  color: rgb(168, 158, 158);
  font-weight: 500;
}

.nav-item {
  margin: 0 10%;
  font-weight: 500;
  color: red;
}

.nav-link:hover {
  background-color: rgba(184, 180, 180, 0.466);
}

.intro {
  margin-top: 2%;
}

.brief-intro {
  background-color: rgb(159, 159, 199);
}
#name {
  color: white;
  font-weight: 600;

  padding: 2%;
}
#work {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2;

  padding: 2%;
}
hr {
  /* width: 50%;
  height: 30px;
  margin-left:0;
  color: red; */
  /* margin: 0 auto; */
  align-items: center;
}
.intro-left {
  /* position: relative; */
}

.intro-right {
  background-color: rgba(255, 255, 255, 0.781);
  /* border-left: 1px solid black; */
}
#greet {
  padding-top: 10%;
  font-size: 3rem;
  font-weight: 700;
}
.intro-right > p {
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 5%;
  padding: 0 3%;
}
#titles {
  color: rgb(221, 62, 62);
}

.display-pic {
  width: 180px;
  /* padding: 5% 0; */
  margin: 8% 0 6%;
}

.connect-links {
  background-color: white;
  padding: 2% 0;
  height: inherit;
}

.fab {
  color: rgb(44, 43, 43);
  margin: 2%;
  font-size: 1.5rem;
}
.fab:hover {
  color: black;
  margin: 2%;
  font-size: 1.5rem;
}
.fa-instagram {
  font-weight: 900;
}

.btn-default {
  background-color: rgb(120, 120, 192);

  color: #fff;
  margin-bottom: 3%;
}

.btn-default:hover {
  background-color: rgb(96, 96, 199);
  color: #fff;
}

.footer {
  background-color: black;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.name-break {
  display: inline;
}
@media only screen and (min-width: 1200px) {
  .name-break {
    display: none;
  }
}

footer {
  text-align: center;
  margin-top: 35px;
}
