@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

.fa-square {
  color: rgb(230, 15, 15);
}

#brand {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 5px;
}

.nav-item {
  margin: 0 10%;
}
